.sidebarContainer {
  position: relative;
  width: max-content;
  display: flex;
  .hamburgerButton {
    // Hamburger button styles
    position: relative;
    color: white;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    .container {
      position: relative;
      background-color: black;
      padding: 1rem;
      display: flex;
      justify-self: center;
      gap: 3rem;
      align-items: center;
      flex-direction: column;
      max-width: 378px;
      margin: 0 auto;
      height: 100%;
      .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        div {
          width: max-content;
          cursor: pointer;
        }
      }
    }
  }
}
