$mobileResolution: 767px;
$tabResolution: 768px;
$ipadProResolution: 1024px;
$smMobileResolution: 300px;

@mixin devices($breakpoint) {
  @if $breakpoint == ipad {
    @media only screen and (max-width: $ipadProResolution) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: $tabResolution) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: $mobileResolution) {
      @content;
    }
  }
  @if $breakpoint == smMobileResolution {
    @media only screen and (max-width: $smMobileResolution) {
      @content;
    }
  }
}
