.container {
  max-width: 378px;
  margin: 0 auto;
  background-color: black;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-self: center;
  gap: 3rem;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    span {
      color: red;
    }
  }
  .hello {
    color: #39ff14;
    font-size: 3rem;
    span {
      color: #fff;
    }
  }
  .balance {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    background: url(/bg.png) no-repeat;
    height: 100px;
    width: 90%;
    max-width: 20rem;
    border-radius: 16px;
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    p {
      color: #000;
      font-weight: 500;
      font-size: 50px;
      display: flex;
      align-items: center;
      span {
        background: transparent;
        font-size: 32px;
      }
    }
  }

  .btnGrp {
    display: flex;
    gap: 1rem;
  }

  .subHeader {
    display: flex;
    color: #39ff14;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    span {
      font-size: 1rem;
      color: white;
      white-space: nowrap;
    }
  }
  .history {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    text-transform: capitalize;
    height: 346px;
    overflow-y: auto;
    overflow-x: hidden;
    .historyItem {
      padding: 0.75rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 12px;
      .green {
        color: #39ff14;
      }
      .red {
        color: #ff0000;
      }
      &:hover {
        background: #4747479c;
      }
      div {
        width: max-content;
        cursor: default;
      }
    }
  }
}
