.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  .modal {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #39ff14;
    color: white;
    position: relative;
    max-width: 378px;
    width: 90%;
    .closeButton {
      background: black;
      padding: 0.25rem 1rem;
      border-radius: 5px;
      border: 2px solid #39ff14;
      cursor: pointer;
      font-size: 35px;
      color: #fff;
      right: 10px;
      position: absolute;
      top: -27px;
    }
  }
}
