.container {
  max-width: 378px;
  margin: 0 auto;
  background-color: black;
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .headline {
    color: #39ff14;
    text-align: center;
    font-size: 30px;
    span {
      color: white;
      font-size: 16px;
    }
  }
  .inputGrp {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;
  }

  .link {
    text-align: center;
    margin-top: 0.4rem;
    a {
      color: #39ff14;
    }
  }
}
